.password-strength-indicator {
  margin-top: 0.2rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  .strength-box {
    border-radius: 0.4rem;
    box-shadow: 2px 2px 2px #666;
    width: 1.2rem;
    height: 1.2rem;
  }
  .gray {
    background-color: #999;
  }
  .red {
    background-color: red;
  }
  .orange {
    background-color: orange;
  }
  .green {
    background-color: green;
  }
}
