.password-strength {
  margin-top: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .password-strength-content {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    box-shadow: 2px 2px 2px #666;
    border-radius: 5px;
    padding: 1rem;
    background-color: #777;
    span {
      font-size: 1.6rem;
    }
    .block-title {
      align-self: center;
      font-size: 1.8rem;
    }
    .password-input-block {
      margin-top: 1.2rem;
      display: flex;
      input {
        border: 1px solid #000;
        border-radius: 8px;
        padding: 2px;
        background-color: #eee;
      }
    }
    .change-visible-btn {
      font-size: 1.6rem;
      display: block;
    }
    .password-strength-indicator {
      margin-top: 0.2rem;
      display: flex;
      align-items: center;
      gap: 0.4rem;
      .strength-box {
        border-radius: 0.4rem;
        box-shadow: 2px 2px 2px #666;
        width: 1.2rem;
        height: 1.2rem;
      }
      .gray {
        background-color: #999;
      }
      .red {
        background-color: red;
      }
      .orange {
        background-color: orange;
      }
      .green {
        background-color: green;
      }
    }
  }
}
