.password-strength {
  margin-top: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .password-strength-content {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    box-shadow: 2px 2px 2px #666;
    border-radius: 5px;
    padding: 1rem;
    background-color: #777;
    .block-title {
      align-self: center;
      font-size: 1.8rem;
    }
  }
}
