<div class="password-strength">
  <div class="password-strength-content">
    <span class="block-title">Password Strength Check</span>
    <div class="password-input-block">
      <span> Press your password: </span>
      <input
        [type]="password"
        id="password"
        class="password-input"
        [(ngModel)]="password"
        (ngModelChange)="checkPasswordStrength()"
      />
      <br />
    </div>
    <div class="password-strength-indicator">
      <div
        class="strength-box"
        [ngClass]="{
          gray: passwordStrength === 0,
          red: passwordStrength === 1 || passwordStrength === -1,
          orange: passwordStrength === 2,
          green: passwordStrength === 3
        }"
      ></div>
      <div
        class="strength-box"
        [ngClass]="{
          gray: passwordStrength === 0 || passwordStrength === 1,
          red: passwordStrength === -1,
          orange: passwordStrength === 2,
          green: passwordStrength === 3
        }"
      ></div>
      <div
        class="strength-box"
        [ngClass]="{
          gray:
            passwordStrength === 0 ||
            passwordStrength === 1 ||
            passwordStrength === 2,
          red: passwordStrength === -1,
          green: passwordStrength === 3
        }"
      ></div>
    </div>
  </div>
</div>
