<div class="password-strength">
  <div class="password-strength-content">
    <span class="block-title">Password Strength Check</span>
    <app-password-input
      (messageEvent)="receiveMessage($event)"
      [visiblePassword]="visible_password"
    ></app-password-input>
    <app-password-btn-toggle
      (visibleState)="receiveVisible($event)"
    ></app-password-btn-toggle>
    <app-password-indicator
      [passwordStrength]="password_strength"
    ></app-password-indicator>
  </div>
</div>
